.location__photo_container {
  width: 100%;
  height: 400px;
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.location__photo_main {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 12px;
}

.location__photo_main_left {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.location__photo_main_right {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.location__photo_column {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.location__photo_small {
  height: calc(100% - 6px);
  width: 100%;
}

.location__photo_small_up {
  height: calc(100% - 6px);
  width: 100%;
  border-radius: 0 10px 0 0;
}

.location__photo_small_down {
  height: calc(100% - 6px);
  width: 100%;
  border-radius: 0 0 10px 0;
}

@media (max-width: 780px) {
  .location__photo_container {
    flex-direction: column;
    height: auto;
  }

  .location__photo_main {
    width: 100%;
  }

  .location__photo_main_left {
    border-radius: 10px;
  }

  .location__photo_main_right {
    border-radius: 10px;
  }

  .location__photo_small {
    border-radius: 10px;

    &_up,
    &_down {
      border-radius: 10px;
    }
  }
}


// блок описания под верхними картинками
.location__flex_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.location__map {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  text-decoration: none;
}

.location__description_container {
  display: flex;
  gap: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1f1b2d;
  width: 100%;
}

.location__description_container_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.location__description_container_li {
  &>span {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #1f1b2d;
  }
}

@media (max-width: 550px) {
  .location__flex_container {
    font-size: 14px;
    flex-direction: column;
    gap: 12px;
    & > p {
      margin-bottom: 0;
    }
  }
}