@import '@/styles/_mixins';

.catalog__image {
  height: 224px;
  width: 361px;
}

.catalog__smallimage {
  height: 100px;
  width: 150px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.left__container {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  //иначе слайдеры разбегаются
  // max-width: 856px;
  // это мешает нормальной работе адаптива.
  // если слайдерам нужна фикс. ширина, лучше задавать ее на слайдерах, а не общем контейнере
}

.map__container {
  text-align: center;
}

// рейтинг, брони
.popular__container {
  margin: 24px 0 48px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #efecf3;
  box-shadow: 0px 5px 8px rgba(70, 78, 95, 0.02);
  border-radius: 12px;
}

.popular__par {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1f1b2d;

  &>span {
    color: #fe9589;
  }
}

@media (max-width: 1199px) {
  .right__container {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .popular__container {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
  .popular__par {
    margin-bottom: 12px;
  }
}

.rating__number {
  margin: 0;
}

.rating__stars {
  display: block;
  margin: 8px 0;
}

.rating__text {
  margin: 0;
}

.rounded_left {
  border-radius: 10px 0 0 10px;
}

.rounded_right {
  border-radius: 0 10px 10px 0;
}


.catalog_item_slider {
  @include fz(10, 14);
  @include adaptiv-value('margin-bottom', 40, 10);
}

.slider_details {
  flex-grow: 1;
  margin-right: 3em;
  @include fz(10, 14);
}

.slider_text {
  display: flex;
  @include fz(10, 14);
  justify-content: space-between;
  font-weight: 500;

  &_bottom {
    display: flex;
    width: 100%;
    @include fz(10, 14);
  }

  &_wrapper {
    width: 100%;
    margin-top: 16px;
  }

  &_data {
    font-weight: 700;
  }
}

.right_block,
.left_block {
  flex-grow: 1;
}

.left_block {
  padding-right: 1.5rem;
}

.link_hover {
  &:hover {
    color: $primary;
  }
}

.summary {
  @include fz(12, 16);
  font-weight: 500;
}

.badge {
  font-weight: 700;
  padding: 0.5rem 1rem;
  @include fz(12, 14);
}

.sale {
  margin: 1.5em 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-grow: 1;
}

.calendar {
  position: absolute;
  top: 110%;
  left: 10%;

  &_wrapper {
    position: relative;
    z-index: 999;
  }

  &_none {
    display: none;
  }
}

.busy_btn {
  border: none;
  background-color: transparent;
  color: $primary;
  font-weight: 500;
  height: 100%;
}

.calc_btn {
  font-weight: 700;
  background-color: $gray100;
  color: $gray800;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin: 0;
}

// для верхнего слайдера
.icon {
  color: #9691a4;

  &:hover {
    color: #000000;
  }

  @media (max-width: 992px) {
    p {
      display: none;
    }
  }
}

.anchor__btn {
  border: transparent;
  background: #f9f8fa;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #9691a4;
  align-self: end;

  &:hover {
    background-color: $primary;
    color: #ffffff;
  }
}


// поменять на стиль Ксении .rounded_right
.photo_spec_block {
  border-radius: 0 12px 12px 0;
}

.photo_spec_block_left {
  border-radius: 12px 0 0 12px;
}

.text_title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text_territory {
  display: flex;
  justify-content: space-between;
  @include adaptiv-value('margin-bottom', 48, 10);
  border-radius: 12px;

  &img {
    max-width: 420px;
    max-height: 270px;
  }

  &:hover {
    box-shadow: 0px 2px 2px -2px rgba(31, 27, 45, 0.08),
      0px 4px 12px rgba(31, 27, 45, 0.08);
  }

  @media (max-width: 800px) {
    width: 100%;
    height: 270px;
    justify-content: center;

    img {
      border-radius: 12px;
    }

    figcaption {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .text_title {
    display: none;
  }
}