@import '@/styles/_mixins';

.my64 {
    margin: 64px 0;
}

.my124 {
    margin: 124px 0;
}

.btn__link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        color: #ffffff;
    }
}

.hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.hero__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.main__title {
    @include fz(12,40);
    line-height: 52px;
}

.main__subtitle {
    @include fz(10,32);
}

.main__suptitle {
    @include fz(9,20);
    font-weight: 500;
    line-height: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.5fr;
    height: 30em;
    gap: 1.5em;
}
.place_wrapper {
    border-radius: 12px;
    overflow: hidden;

    a img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &_1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }
}
