@import '@/styles/_mixins';

.py64 {
  padding: 64px 0;
  @include adaptiv-value(padding-top, 64, 15);
  @include adaptiv-value(padding-bottom, 64, 15);
}

.my124 {
  @include adaptiv-value(margin-top, 124, 42);
  // @include adaptiv-value(margin-bottom, 124, 42);
}

.m124 {
  @include adaptiv-value(margin-top, 124, 42);
  @include adaptiv-value(margin-bottom, 124, 42);
}

.btn__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  @include fz(10, 16);

  &:hover {
    color: #ffffff;
  }
}

//Hero
.hero__container {
  @include adaptiv-value('margin-bottom', 124, 48);
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  @include fz(24, 48);
}

.hero__subtitle {
  display: block;
  max-width: 675px;
  margin: 16px auto 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  @include fz(16, 20);
}

//Titles
.main__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: block;
  max-width: 820px;
  text-align: center;
  margin-bottom: 64px;
  @include fz(20, 40);

  @media (max-width: 992px) {
    margin-bottom: 36px;
  }

  @media (max-width: 575px) {
    line-height: 100%;
  }

  @media (max-width: 475px) {
    line-height: 100%;
    margin-bottom: 24px;
  }
}

.main__subtitle {
  @include fz(14, 20);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    line-height: 100%;
  }
}

.main__description {
  font-weight: 700;
  // line-height: 42px;
  @include fz(16, 32);

  @media (max-width: 576px) {
    line-height: 180%;
  }
}

.hide {
  @media (max-width: 860px) {
    display: none;
  }
}

.main__description_link {
  text-decoration: none;
  color: inherit;
  @include fz(12, 16);
}

//TopCard
.topcard__row {
  gap: 24px;
}

.topcard__description {
  @include fz(12, 18);
  color: $gray;
}

//Articles
.articles__row {
  @media (max-width: 991px) {
    justify-content: center;
  }
}

.article__card_big {
  padding: 12px;
  margin: 0;

  @media (max-width: 991px) {
    order: 1;
    width: unset !important;
    margin-bottom: 12px;
  }
}

.article__card_sm {
  padding: 12px;
  margin: 0;

  @media (max-width: 991px) {
    order: 2;
    width: unset !important;
    margin-bottom: 12px;
  }
}

.article__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  @media (max-width: 576px) {
    margin-bottom: 10px;
  }
}

.article__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

}

.article__pubinfo {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $gray800;

  &>p {
    margin-bottom: 4px;
  }

  &>span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $gray700;
  }
}

@media screen and (max-width: 992px) {
  .main__article_card {
    width: fit-content;

    &_title {
      text-align: center;
    }
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
    height: auto;
  }

  .locations {
    &_wrapper {
      height: 35vmin;
      margin: 2em 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .card_name {
    text-align: center;
  }
}

//Locations
.grid {
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  height: 30em;
  gap: 1.5em;
}

.locations {
  &__wrapper {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: $transition;

    &_1 {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__overlay {
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
        rgba(31, 27, 45, 0) 0%,
        rgba(31, 27, 45, 0.1) 26.56%,
        rgba(31, 27, 45, 0.28) 42.71%,
        rgba(31, 27, 45, 0.48) 56.77%,
        rgba(31, 27, 45, 0.68) 72.4%,
        rgba(31, 27, 45, 0.85) 86.98%,
        rgba(31, 27, 45, 0.94) 100%);
  }

  &__icon {
    &_wrapper {
      position: absolute;
      top: 0;
      right: 0;
      transition: $transition;
    }
  }

  &__description {
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.locations__overlay_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.description {
  &__title {
    color: $white;
    @include fz(9, 20);
    font-weight: 700;
    margin: 0;
  }

  &__text {
    p {
      margin: 0;
    }
  }

  &__star {
    color: $star;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: fit-content;

    &_title {
      text-align: center;
    }
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
    height: auto;
  }

  .locations {
    &__wrapper {
      height: 35vmin;
      margin: 2em 0;
    }
  }
}

@media (max-width: 600px) {
  .mobile__column {
    flex-direction: column;
    gap: 16px;
  }
}

//LkServices
.lkserv__col {
  @media (max-width: 991px) {
    align-items: center;
  }
}

.lkserv__description {
  width: 75%;
  box-sizing: content-box;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;

  @media (max-width: 991px) {
    width: 100%;
    padding-top: 0px;
    margin-bottom: 24px;
  }
}

.lkserv__title {
  color: $gray900;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.lkserv__text {
  @include fz(14, 16);
}

//SuppCard
.supplier__title {
  @include fz(20, 56);
  font-weight: 700;
  line-height: 130%;
}

.supplier__text {
  @include fz(14, 20);
  max-width: 600px;
  margin-bottom: 32px;
  @media (max-width: 991px) {
    max-width: unset;
  }
}
