//минимальная ширина (будет взята из макета для мобильных устройств, без рх)
$min-width: 320;
//максимальная ширина (в нашем макете это 1920, без рх)
$max-width: 1920;

$primary: #fe9589;
$white: #ffffff;
$transition: all 0.25s ease-in-out;
$gray: #666276;
$gray100: #f9f8fa;
$gray800: #454056;
$gray900: #1f1b2d;
$star: #fdbc31;
$black: #1f1b2d;

//адаптивный шрифт
//min-fz - минимальный размер шрифта (используется для мобильных устройств)
//$max-fz - максимальный размер шрифта
@mixin fz($min-fz, $max-fz) {
  $add-fz: $max-fz - $min-fz;
  $add-min-fz: $add-fz + $add-fz * 0.7;
  @media (min-width: 767px) {
    font-size: calc(#{$min-fz + px} + #{$add-fz} * (100vw / #{$max-width}));
  }
  @media (max-width: 767px) {
    font-size: calc(
      #{$min-fz + px} + #{$add-min-fz} *
        ((100vw - #{$min-width + px}) / #{$max-width})
    );
  }
}

// по сути тотже миксин, что и выше, только применяется к разным св-вам

// можно применять для адаптива к разным свойсва в коде пишем, допустим:
// @include adaptiv-value('margin-top', 124, 10);
// при этом верхний отступ будет стремится от 124 до 10 px. в зависимости от р-ра экрана
// или тотже font-size
// @include adaptiv-value('font-size', 16, 9);

@mixin adaptiv-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  #{$property}: calc(
    #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$max-width - 320})
  );
}
