//минимальная ширина (будет взята из макета для мобильных устройств, без рх)
$min-width: 320;
//максимальная ширина (в нашем макете это 1920, без рх)
$max-width: 1920;
//$grey: #666276;

$primary: #fe9589;
$white: #ffffff;
$transition: all 0.25s ease-in-out;
$grey: #666276;
$star: #fdbc31;
$black: #1f1b2d;

//адаптивный шрифт
//min-fz - минимальный размер шрифта (используется для мобильных устройств)
//$max-fz - максимальный размер шрифта
@mixin fz($min-fz, $max-fz) {
  $add-fz: $max-fz - $min-fz;
  $add-min-fz: $add-fz + $add-fz * 0.7;
  @media (min-width: 767px) {
    font-size: calc(#{$min-fz + px} + #{$add-fz} * (100vw / #{$max-width}));
  }
  @media (max-width: 767px) {
    font-size: calc(
      #{$min-fz + px} + #{$add-min-fz} *
        ((100vw - #{$min-width + px}) / #{$max-width})
    );
  }
}
