//минимальная ширина (будет взята из макета для мобильных устройств, без рх)
$min-width: 320;
//максимальная ширина (в нашем макете это 1920, без рх)
$max-width: 1920;

$primary: #FE9589;
$white: #FFFFFF;
$transition: all 0.25s ease-in-out;
$grey: #FEFEFE;
$star: #FDBC31;
$black: #1F1B2D

