* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// чтобы корректно работало во всeх браузерах
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;

  max-width: 100vw;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

// убирает крестик у инпутов в IE
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
}

// в мозилле вроде как по умолчанию добавлются свои отступы, поэтому мы их убираем
button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}
