.address__dropdown{
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  @media (max-width: 990px) {
    top: 24px;
  }
}

.checked {
  &:hover {
    color: #674FA3;
    font-weight: 600;
  }
}

.numbers_input__row {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  .numbers_input__col{
    max-width: 250px;
    margin-bottom: 15px;
    &_border{
      border-radius: 10px 0 0 10px !important;
      border-right: transparent;
    }
  }
}

// addProperty preview
.preview_header {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 600px) {
    span {
      display: none;
    }
  }
}

