@import '/src/styles/mixins';

.footer__container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.footer__row {
  margin: 0;

  @media (max-width: 423px) {
    flex-direction: column;
  }
}

.footer__logo {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $gray800;

  @media (max-width: 1200px) {
    font-size: 12px;
  }

  @media (max-width: 423px) {
    // text-align: center;
    font-size: 16px;
  }
}

.footer__contacts {
  list-style-type: none;
  padding-left: 0px;
}

.footer__social {
  list-style-type: none;
  padding-left: 0px;
  display: flex;

  // @media (max-width: 423px) {
  //   justify-content: center;
  // }
}

.footer__column {
  min-width: 200px;
}
.footer__column_last {
  min-width: 200px;
  @media (max-width: 823px) and (min-width: 623px) {
    max-width: 265px;
  }
}

.footer__column_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  // @media (max-width: 423px) {
  //   text-align: center;
  // }
}

.footer__column_list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 24px;

  // @media (max-width: 423px) {
  //   text-align: center;
  // }
}

.footer__navlink {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray800;
}

// .footer__catalog_btncontainer {
//   @media (max-width: 423px) {
//     display: flex;
//     justify-content: center;
//   }
// }

.footer__catalog_btn {
  max-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: baseline;
  margin-top: 64px !important;
  gap: 64px;

  @media (max-width: 750px) {
    gap: 20px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
  & > section {
    width: fit-content !important;
    padding-right: 0;
  }
}

.footer__conditions {
  width: fit-content !important;
}

.footer__conditions_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 76px;
  
  @media (max-width: 750px) {
    gap: 32px;
  }

  &>li {
    margin: 0;
  }
}

.footer__conditions_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  color: #666276;
}