.footer_rows {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .footer_rows {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .footer_row {
    margin-left: 8px;
  }
}

.footer_copyright {
  display: flex;
  justify-content: flex-start;
  gap: 76px;
  margin-top: 64px;
}
@media (max-width: 750px) {
  .footer_copyright {
    gap: 32px;
  }
}
@media (max-width: 500px) {
  .footer_copyright {
    flex-direction: column;
  }
}
.footer_copyright > a, .footer_copyright p {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  color: #666276;
  text-decoration: none;
}