@import '/src/styles/mixins';

.avatar__btn {
    text-decoration: none  !important;
    display: flex  !important;
    align-items: center  !important;
    gap: 12px  !important;
    background-color: unset !important;
    border: none  !important;
    &:hover {
        background-color: unset !important;
        box-shadow: none !important;
    }
}

.avatar__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #454056;
    margin: 0;
}

.avatar__image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 100px;
}