.avatar__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #454056;
    margin: 0;
}

.avatar__image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 100px;
}