.city__form {
  display: flex;
}

.city__text {
  display: flex;
  gap: 11px;
  border-right: 1px solid #D5D2DC;
  align-items: center;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  width: max-content;
}

.city__name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1F1B2D;
  margin: 0;

}

.city__input {
  border: none;
  max-width: 130px;
  &::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #674FA3;
    padding-left: 16px;
  }
}