.header__container {
  padding: 20px 0px;
}

.header__logo {
  padding: 16px 0;
}

.header__navbar {
  @media (max-width: 1199px) {
    width: 100%;
  }
}

.navbar__central_block {
  margin: 0 auto;
}

.header__log_btn {
  color: none;
}

.header__reg_btn {
  color: none;
}