.header__container {
  padding: 20px 0px;
}

.header__toggle_open {
  margin-left: calc(100% - 99px);
}

.header__navbar {
  // padding: 0px 24px;
  @media (max-width: 1199px) {
    width: 100vw;
  }
}

.navbar__central_block {
  margin: 0 auto;
}

.header__log_btn {
  color: none;
}

.header__reg_btn {
  color: none;
}